
ToolbarOfFunctions/.vs/ToolbarOfFunctions/v15/Server/sqlite3/db.lock
ToolbarOfFunctions/.vs/ToolbarOfFunctions/v15/Server/sqlite3/storage.ide
ToolbarOfFunctions/.vs/ToolbarOfFunctions/v15/Server/sqlite3/storage.ide-wal
/ToolbarOfFunctions/ToolbarOfFunctions/frmSettings.Designer.cs
/ToolbarOfFunctions/ToolbarOfFunctions/frmSettings.resx
/ToolbarOfFunctions/ToolbarOfFunctions/Win32.cs
/ToolbarOfFunctions/ToolbarOfFunctions/ToolbarOfFunctions.csproj.user
/ToolbarOfFunctions/ToolbarOfFunctions/TestCode.cs
/ToolbarOfFunctions/ToolbarOfFunctions/System.DirectoryServices.dll
/ToolbarOfFunctions/ToolbarOfFunctions/SaveXML.cs
/ToolbarOfFunctions/ToolbarOfFunctions/readActiveDirectory.cs
/ToolbarOfFunctions/ToolbarOfFunctions/Information.cs
/ToolbarOfFunctions/ToolbarOfFunctions/frmSettings.cs
/ToolbarOfFunctions/ToolbarOfFunctions/FolderBrowserDialogEx.cs
/ToolbarOfFunctions/ToolbarOfFunctions/FolderBrowserDialogEx/Win32.cs
/ToolbarOfFunctions/ToolbarOfFunctions/FolderBrowserDialogEx/FolderBrowserDialogEx.cs
/ToolbarOfFunctions/ToolbarOfFunctions/FolderBrowserDialogEx
/ToolbarOfFunctions/ToolbarOfFunctions/ExcelRibbon.resx
/ToolbarOfFunctions/ToolbarOfFunctions/ExcelRibbon.Designer.cs
/ToolbarOfFunctions/ToolbarOfFunctions/ExcelRibbon.cs
/ToolbarOfFunctions/ToolbarOfFunctions/data.xml
/ToolbarOfFunctions/ToolbarOfFunctions/Constants.cs
/ToolbarOfFunctions/ToolbarOfFunctions/CommonExcel.cs
/ToolbarOfFunctions/ToolbarOfFunctions/clsGraveYard.cs
/ToolbarOfFunctions/ToolbarOfFunctions/ClassDiagram1.cd
/ToolbarOfFunctions/ToolbarOfFunctions/bin/Debug/app.publish/ToolbarOfFunctions.vsto
/ToolbarOfFunctions/ToolbarOfFunctions/ActiveDirectory.cs
/ToolbarOfFunctions/Notes.txt
/ToolbarOfFunctions/ToolbarOfFunctions/bin/Debug/app.publish/Application Files/ToolbarOfFunctions_1_0_0_1/Microsoft.Office.Tools.Common.v4.0.Utilities.dll.deploy
/ToolbarOfFunctions/ToolbarOfFunctions/bin/Debug/app.publish/Application Files/ToolbarOfFunctions_1_0_0_1
/ToolbarOfFunctions/ToolbarOfFunctions/bin/Debug/app.publish/setup.exe
